<!-- <p>
  quotes works!
</p> -->

<div class="container">
  <div *ngFor="let QUOTE of QUOTES;let i=index">
    <li>{{QUOTE.name}} by <span>{{QUOTE.author}}</span> </li>
    <span>{{QUOTE.upVote}} </span>
    <button class="btn btn-outline-primary" (click)="upVote(i)">like</button>
    <span>{{QUOTE.downVote}}</span>
    <button class="btn btn-outline-primary" (click)="downVote(i)">dislike</button>
    <button class="btn btn-outline-primary" (click)="del(i)">Delete</button>
  </div>
  <br>


  <!-- <app-quotes-details *ngIf="QUOTES.showDescription" [QUOTES]="quotes" (isComplete)='deleteQUOTES($event,i)'></app-quotes-details> -->

  <div class="move">
    <app-quotes-form (addQuotes)="new($event)"></app-quotes-form>
  </div>

