/* You can add global styles to this file, and also import other style files */

span{
    color:blanchedalmond;
    text-decoration:underline;
}
li{
    list-style-type:none;
}
body{
    background-color: salmon;
}
